<div class="dice-section">
  <h3>🎲 Roll Dice</h3>
  <%= form_with url: roll_dice_path, local: false, class: "dice-form" do |form| %>
    <div class="dice-controls">
      <div class="dice-type-group">
        <div class="dice-count">
          <%= form.number_field :count, value: 1, min: 1, max: 10, class: "dice-input" %>
        </div>
        
        <div class="dice-buttons">
          <% [4, 6, 8, 12, 20].each do |sides| %>
            <%= form.button "d#{sides}", type: "submit", name: "dice_type", value: sides, class: "dice-button" %>
          <% end %>
        </div>
      </div>
      
      <div class="modifier-group">
        <label>Modifier:</label>
        <%= form.number_field :modifier, value: 0, class: "modifier-input" %>
      </div>
    </div>
  <% end %>
</div>